<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travada">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".features.transfer.va.VAInvoiceActivity" >

        </activity>
        <activity android:name=".features.transfer.va.VAPinActivity" />
        <activity android:name=".features.transfer.va.VAConfirm2Activity" />
        <activity android:name=".features.transfer.va.VAConfirm1Activity" />
        <activity android:name=".features.transfer.transferbank.TransferInvoiceActivity" />
        <activity android:name=".features.transfer.transferbank.TransferPinActivity" />
        <activity android:name=".features.transfer.transferbank.TransferConfirmActivity" />
        <activity android:name=".features.transfer.transferbank.TransferInputActivity" />
        <activity android:name=".features.transfer.va.VAInputActivity" />
        <activity android:name=".features.transfer.TransferMenuActivity" />
        <activity android:name=".fragmentnav.akun.changepass.AkunChangePassActivity" />
        <activity android:name=".fragmentnav.akun.changepin.AkunConfirmNewPinActivity" />
        <activity android:name=".fragmentnav.akun.changepin.AkunInputNewPinActivity" />
        <activity android:name=".welcomepage.forgetpin.inputnewpin.ForgetpinInputNewPinActivity" />
        <activity android:name=".features.mutasi.view.PDFMutasiActivity" />
        <activity
            android:name=".features.mutasi.view.PinMutasiActivity"
            android:noHistory="true" />
        <activity android:name=".features.mutasi.view.ResultMutasiActivity" />
        <activity android:name=".fragmentnav.notifikasi.DetailNotifikasiTravasave" />
        <activity android:name=".fragmentnav.notifikasi.DetailNotifikasiTravaplan" />
        <activity android:name=".features.mutasi.view.MutasiActivity" />
        <activity android:name=".welcomepage.forgetpin.inputcode.ForgetpinInputCodeActivity" />
        <activity android:name=".features.rencana.wisnu.view.ResultRencanaActivity" />
        <activity
            android:name=".detailriwayat.view.BayarCicilanActivity"
            android:noHistory="true" />
        <activity android:name=".detailriwayat.view.PinBayarCicilanActivity" />
        <activity android:name=".features.rencana.detailrencana.view.DetailRencanaActivity" />
        <activity android:name=".features.rencana.searchpage.TPSearchPageActivity" />
        <activity android:name=".welcomepage.register.registerverifcode.RegisterVerifCodeActivity" />
        <activity android:name=".welcomepage.register.register4.VerifRegister4Activity" />
        <activity android:name=".features.rencana.wisnu.view.KonfirmasiRencanaActivity" />
        <activity android:name=".features.rencana.wisnu.view.PesanRencanaActivity" />
        <activity android:name=".features.rencana.wisnu.view.RencanaActivity"></activity>
        <activity android:name=".features.rencana.searchpage.TPFilterPageActivity" />
        <activity android:name=".features.rencana.person.TPPersonActivity" />
        <activity android:name=".welcomepage.register.takepicSelfieKTP.TakePicSelfieKTPActivity" />
        <activity android:name=".welcomepage.register.takepicKTP.TakePicKTPActivity" />
        <activity android:name=".welcomepage.forgetpass.inputnewpass.ForgetpassInputNewPassActivity" />
        <activity android:name=".welcomepage.forgetpass.inputcode.ForgetpassInputCodeActivity" />
        <activity android:name=".welcomepage.forgetpass.inputemail.ForgetpassInputEmailActivity" />
        <activity android:name=".welcomepage.register.register4.Register4Activity" />
        <activity android:name=".welcomepage.register.register3.Register3Activity" />
        <activity android:name=".welcomepage.register.register2.Register2Activity" />
        <activity android:name=".welcomepage.register.register1.Register1Activity" />
        <activity android:name=".welcomepage.loginpin.LoginPinActivity" />
        <activity android:name=".welcomepage.login.LoginActivity" />
        <activity android:name=".welcomepage.onboarding.OnboardingEndActivity" />
        <activity android:name=".detailriwayat.view.DetailRiwayatActivity" />
        <activity android:name=".berita.DetailBeritaActivity" />
        <activity android:name=".berita.BeritaActivity" />
        <activity android:name=".mainpage.MainPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".features.tabungan.detailtabungan.PinSetorManualActivity"/>
        <activity android:name=".features.tabungan.detailtabungan.DetailTabunganActivity" />
        <activity android:name=".features.tabungan.formresulttabungan.DetailFormResultActivity" />
        <activity android:name=".features.tabungan.formtabungantiga.FormTabunganThreeActivity" />
        <activity android:name=".features.tabungan.formtabungandua.FormTabunganTwoActivity" />
        <activity android:name=".features.tabungan.formtabungansatu.FormTabunganOneActivity" />
        <activity android:name=".features.tabungan.maintabungan.TabunganActivity" />
        <activity android:name=".welcomepage.onboarding.OnboardingActivity" />
        <activity android:name=".welcomepage.splashscreen.SplashScreenActivity">

        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>